<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Create/Update Player - Football Club Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Create/Update Player</h1>
        </div>
        <div role="main" class="ui-content">
            <form action="/add-player" method="post">
                <label for="textinputFirstName">First Name:</label>
                <input name="textinputFirstName" id="textinputFirstName" type="text" placeholder="" value="<%= player[0].firstName %>" data-clear-btn="true" required>
                <label for="textinputLastName">Last Name:</label>
                <input name="textinputLastName" id="textinputLastName" type="text" placeholder="" value="<%= player[0].lastName %>" data-clear-btn="true" required>
                <label for="textinputChsName">中文名:</label>
                <input name="textinputChsName" id="textinputChsName" type="text" placeholder="" value="<%= player[0].chsName %>" data-clear-btn="true">
                <label for="textinputEmail">Email:</label>
                <input name="textinputEmail" id="textinputEmail" type="text" placeholder="" value="<%= player[0].email %>" data-clear-btn="true" required>
                <label for="textinputNumber">Number:</label>
                <input name="textinputNumber" id="textinputNumber" type="text" placeholder="" value="<%= player[0].number %>" data-clear-btn="true">
                <label for="textinputMobile">Mobile:</label>
                <input name="textinputMobile" id="textinputMobile" type="text" placeholder="" value="<%= player[0].mobile %>" data-clear-btn="true">
                <label for="textinputWechat">Wechat:</label>
                <input name="textinputWechat" id="textinputWechat" type="text" placeholder="" value="<%= player[0].wechat %>" data-clear-btn="true">
                <label for="selectFavoritePosition">最爱位置 Favorite Position:</label>
                <select name="selectFavoritePosition" id="selectFavoritePosition">
                    <option value="">Select</option>
                    <option value="Forward">前锋 Forward</option>
                    <option value="MidFielder">中场 MidFielder</option>
                    <option value="FullBack">后卫 FullBack</option>
                    <option value="Goalie">门将 Goalie</option>
                </select>
                <label for="sliderEndurance">耐力 Endurance:</label>
                <input name="sliderEndurance" id="sliderEndurance" type="range" min="1" max="5" value="<%= player[0].latestEndurance %>" data-highlight="true">
                <label for="sliderSpeed">速度 Speed:</label>
                <input name="sliderSpeed" id="sliderSpeed" type="range" min="1" max="5" value="<%= player[0].latestSpeed %>" data-highlight="true">
                <label for="sliderDribble">盘带 Dribble:</label>
                <input name="sliderDribble" id="sliderDribble" type="range" min="1" max="5" value="<%= player[0].latestDribble %>" data-highlight="true">
                <label for="sliderPass">传球 Pass:</label>
                <input name="sliderPass" id="sliderPass" type="range" min="1" max="5" value="<%= player[0].latestPass %>" data-highlight="true">
                <label for="sliderDefense">防守 Defense:</label>
                <input name="sliderDefense" id="sliderDefense" type="range" min="1" max="5" value="<%= player[0].latestDefense %>" data-highlight="true">
                <label for="sliderShoot">射门 Shoot:</label>
                <input name="sliderShoot" id="sliderShoot" type="range" min="1" max="5" value="<%= player[0].latestShoot %>" data-highlight="true">
                <label for="sliderStrength">力量 Strength:</label>
                <input name="sliderStrength" id="sliderStrength" type="range" min="1" max="5" value="<%= player[0].latestStrength %>" data-highlight="true">
                <input type="hidden" name="hiddenId" id="hiddenId" value="<%= player[0].id %>">
                <input type="submit" value="Save" data-theme="a">
            </form>
        </div>
        <div data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a href="/players" data-icon="grid" data-prefetch="true">Players</a></li>
                    <li><a href="/add-player" data-icon="plus" class="ui-btn-active" data-prefetch="true">Add Player</a></li>
                    <li><a href="#" data-icon="gear">Setup</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    (function() {
        // Grab a select field
        var el = $('#selectFavoritePosition');

        // Select the relevant option, de-select any others
        el.val('<%= player[0].favoritePosition %>').attr('selected', true).siblings('option').removeAttr('selected');

        // Initialize the selectmenu
        el.selectmenu();

        // jQM refresh
        el.selectmenu("refresh", true);
    })();
    </script>
</body>
</html>