<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Players - Football Club Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Players</h1>
        </div>
        <div role="main" class="ui-content">
            <table data-role="table" id="player-table" data-mode="reflow" class="ui-responsive table-stroke">
              <thead>
                <tr>
                  <th data-priority="persist">Name</th>
                  <th data-priority="1">Number</th>
                  <th data-priority="2">Overall Ability</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < players.length; i++) {%>
                <tr>
                  <td><input type="checkbox" name="selectedPlayers" id="selectedUser-<%= players[i].id %>" data-bind="click: clickPlayerCheckBox"><label for="selectedUser-<%= players[i].id %>"><%= players[i].firstName + " " + players[i].lastName + " " + players[i].chsName %></label></td>
                  <td><%= players[i].number %></td>
                  <td><%= players[i].latestOverallAbility %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <button id="group-button" data-icon="user" data-theme="b" data-bind="click: autoGroup, visible: shouldShowGroupButton">Auto Group</button>
            <button id="edit-button" data-icon="edit" data-theme="b" data-bind="click: gotoEdit, visible: shouldShowEditButton">Edit</button>
            <div id="divGroupNumbers" data-role="popup" id="popupMenu" data-theme="b">
                <ul data-role="listview" data-inset="true" style="min-width:210px;">
                    <li data-role="list-divider">Choose group numbers</li>
                    <li><a href="#" data-bind="click: gotoGroup2">2</a></li>
                    <li><a href="#" data-bind="click: gotoGroup3">3</a></li>
                </ul>
            </div>
        </div>
        <div data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a href="/players" data-icon="grid" class="ui-btn-active" data-prefetch="true">Players</a></li>
                    <li><a href="/add-player" data-icon="plus" data-prefetch="true">Add Player</a></li>
                    <li><a href="#" data-icon="gear">Setup</a></li>
                </ul>
            </div>
        </div>
        <script>
        (function() {
            function ViewModel() {
                this.shouldShowGroupButton = ko.observable(false);
                this.shouldShowEditButton = ko.observable(false);
                this.selectedPlayers = [];
                this.clickPlayerCheckBox = function() {
                    this.selectedPlayers = $('input[name=selectedPlayers]:checked').map(function(){
                        return $(this).attr('id').replace('selectedUser-', '');
                    }).get();
                    this.shouldShowGroupButton(this.selectedPlayers.length > 1);
                    this.shouldShowEditButton(this.selectedPlayers.length == 1);
                };
                this.autoGroup = function() {
                    if ($(".ui-popup-active").length > 0) {
                        $('#divGroupNumbers').popup('close');
                    } else {
                        $('#divGroupNumbers').popup('open');
                    }
                    /*
                    if(this.selectedPlayers.length) {
                        alert('You have selected ' + this.selectedPlayers.length + ' players: ' + this.selectedPlayers);
                    } else {
                        alert('No players is selected.');
                    }
                     */
                };
                this.gotoEdit = function() {
                    var playerId = $('input[name=selectedPlayers]:checked').first().attr('id').replace('selectedUser-', '');
                    window.location.href = "/add-player/" + playerId;
                };
                this.gotoGroup2 = function() {
                    this.gotoGroup(2);
                }
                this.gotoGroup3 = function() {
                    this.gotoGroup(3);
                }
                this.gotoGroup = function(groups) {
                    window.location.href = "/group/?groups=" + groups + "&players=" + this.selectedPlayers;
                }
            };
            ko.applyBindings(new ViewModel());
        })();
        </script>
    </div>
</body>
</html>